@import url("/static/css/form.css");
@import url("/static/css/fonts.css");
@import url("/static/css/header-footer.css");

html {
	height:100%;
}

body {
	background-color: rgba(255, 255, 255, 1);
	min-height: 723px;

}

p { 
	color: white;
	text-shadow: 2px 2px 2px #000;
}

.container {
	background: url('/static/images/map_v4_dark_7comp.jpeg') no-repeat center;
	display: block;
}

.center {
	margin-top: 0px;
	width: 100%;
	min-width: 640px;
	max-width: 1920px;
	background-color: rgb(40, 40, 40);
	text-align:center;
}

.group-well {
	display:inline-block;
}

/* @Override for Bootstrap class called well */
.well {
	background-color: rgba(245, 245, 245, 0.4);
	text-align: center;
	max-width:600px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}

.additional {
	text-align: right;
	min-width: 400px;
	max-width: 600px;
	margin: auto;
	padding-top: 20px;
}

.phones {
	z-index:10;
	height: 400px; 
	width: 350px;
	margin-top:300px;
	display: inline-block;
	position:absolute;
}

.nexus {
	background-image: url('/static/images/nexus_app_flat_crop.png');
	background-repeat:no-repeat;
	margin-left:20px;
	left:0;
	bottom:45px;
}

.iphone {
	background-image: url('/static/images/iphone_app_flat_crop.png');
	background-repeat:no-repeat;
	right:20px;
	position:absolute;
	bottom:49px;
}

/*Hide phones from screen if size <= XY px*/
@media all and (max-width:1335px) {
	.phones {display:none;}
}
